doctype html
html
    head
        title= "Добавить объект"
        link(rel='stylesheet', type='text/css', href='/codebase/dhtmlx.css')
        script(src='/codebase/dhtmlx.js')
        script(type="text/javascript", language="javascript", src='/js/jquery.js')
        script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
        script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_ru.js")
        script(type="text/javascript", language="javascript", class="init").
            $(document).ready(function() {
                $.validator.addMethod("greaterThan", function (value, element, param) {
                    var $min = $(param);
                    if (this.settings.onfocusout) {
                        $min.off(".validate-greaterThan").on("blur.validate-greaterThan", function () {
                            $(element).valid();
                        });
                    }
                                    return parseInt(value) > parseInt($min.val());
                }, "Максимум должен быть больше чем минимум");

                $.validator.addMethod("validSymbols", function (value, element, param) {
                    var $type = $(param);
                    var mask;
                    if ($type.val() == "int") {
                        mask = "^((-[0-9]{1,9})|([0-9]{1,10}))$";
                    } else if ($type.val() == "float") {
                        mask = "^((-{0,1}\\d+\\.\\d+)|(-{0,1}\\d+))$";
                    } else {
                        mask = "^.{1,256}$";
                    }

                    var mask = new RegExp(mask);
                    var b = mask.test(value);
                                    return mask.test(value);
                }, "Некорректный формат данных");

                $('#myform').validate({ // initialize the plugin
                    rules: {
                        at_syst: "required",
                        dom: {
                            required: true
                        },
                        Den: {
                            required: true
                        },
                        Naim: {
                            required: true
                        },
                        At_Type: {
                            required: true
                        },
                        At_Len: {
                            required: true,
                            number: true
                        },
                        At_Dec: {
                            required: true,
                            min: 0,
                            number: true
                        },
                        At_Min: {
                            required: true,
                            validSymbols:'#At_Type'
                        },
                        At_Max: {
                            required: true,
                            validSymbols:'#At_Type',
                            greaterThan:'#At_Min'
                        },
                        At_Razm: {
                            required: true
                        },
                        At_Kl: {
                            required: true
                        }
                    },
                    submitHandler: function (form) {
                        if ($('#myform').valid()) {
                            //common initialization
                            dhtmlx.message({
                                title: "Ок",
                                type: "alert-warning",
                                text: "Объект успешно добавлен!",
                                callback: function() {
                                    form.submit();
                                }
                            });



                        }
                    }
                });

                $('#edit').click( function () {
                    window.location.replace('/editObject/'+selectedObjectID);
                } );

            } );
    body
        h1= "Добавление объекта"
        form(method="GET", action='addObject/add', id="myform")
            table(border=1, cellpadding=10)
                tbody
                    tr
                        th Системный номер
                        th Домен
                        th Обозначение
                        th Наименование концепта
                        th Тип поля
                        th Длина поля
                        th Кол-во знаков после запятой
                        th Мин. значение
                        th Макс. значение
                        th Размерность
                        th Номер классификатора
                    tr
                        td
                            input(type='text',value='',placeholder='at_syst',name='at_syst')
                        td
                            input(type='text',value='',placeholder='dom',name='dom')
                        td
                            input(type='text',value='',placeholder='Den',name='Den')
                        td
                            input(type='text',value='',placeholder='наименование',name='Naim')
                        td
                            select(name='At_Type', id='At_Type')
                                option(value='int') Целое
                                option(value="float") Вещественное
                                option(value="string") Строковый
                        td
                            input(type='text',value='',placeholder='At_Len',name='At_Len')
                        td
                            input(type='text',value='',placeholder='At_Dec',name='At_Dec')
                        td
                            input(type='text',value='',placeholder='At_Min',name='At_Min', id='At_Min')
                        td
                            input(type='text',value='',placeholder='At_Max',name='At_Max')
                        td
                            input(type='text',value='',placeholder='At_Razm',name='At_Razm')
                        td
                            input(type='text',value='',placeholder='At_Kl',name='At_Kl')
            p
            input(type='submit',value='Добавить')
        if reqParam
            script.
                dhtmlx.alert("Объект успешно добавлен!");