doctype html
html
    head
        title= "Добавить объект"
        link(rel='stylesheet', type='text/css', href='/codebase/dhtmlx.css')
        script(src='/codebase/dhtmlx.js')
        script(type="text/javascript", language="javascript", src='/js/jquery.js')
        script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
        script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_ru.js")
        script(type="text/javascript", language="javascript", class="init").
            $(document).ready(function() {
                $.validator.addMethod("greaterThan", function (value, element, param) {
                    var $min = $(param);
                    if (this.settings.onfocusout) {
                        $min.off(".validate-greaterThan").on("blur.validate-greaterThan", function () {
                            $(element).valid();
                        });
                    }
                                    return parseInt(value) > parseInt($min.val());
                }, "Максимум должен быть больше чем минимум");

                $.validator.addMethod("validSymbols", function (value, element, param) {
                    var $type = $(param);
                    var mask;
                    var len = "" ? 0 : parseInt($("#At_Len").val());
                    if ($type.val() == "int") {
                        mask = "^((-[0-9]{1," + (len-1) + "})|([0-9]{1," + len +"}))$";
                    } else if ($type.val() == "float") {
                        var afterDotSymbols = "" ? 0 : parseInt($("#At_Dec").val());
                        mask = "^((-{0,1}\\d{1,"+(len-afterDotSymbols)+"}\\.\\d{1,"+afterDotSymbols+"})|(-{0,1}\\d{0,+"+len+"))$";
                    } else {
                        mask = "^.{1,"+len+"}$";
                    }
                    var mask = new RegExp(mask);
                    var b = mask.test(value);
                                    return mask.test(value);
                }, "Некорректный формат данных");

                $.validator.addMethod("fieldLength", function (value, element, param) {
                    var $type = $(param);
                    var len=value;
                    var max,min;
                    min = 0;max =10;
                    if ($type.val() == "int") {
                        return len>0 && len<11;
                    } else if ($type.val() == "float") {
                        return len>0 && len <=10;
                    } else {
                        max = 256;
                        return len>0 && len<257;
                    }
                }, "Введите корректный размер поля.");

                $('#myform').validate({ // initialize the plugin
                    rules: {
                        at_syst: "required",
                        dom: {
                            required: true
                        },
                        Den: {
                            required: true
                        },
                        Naim: {
                            required: true
                        },
                        At_Type: {
                            required: true
                        },
                        At_Len: {
                            required: true,
                            number: true,
                            fieldLength: '#At_Type',
                            min: 1
                        },
                        At_Dec: {
                            required: true,
                            min: 0,
                            number: true
                        },
                        At_Min: {
                            required: true,
                            validSymbols:'#At_Type'
                        },
                        At_Max: {
                            required: true,
                            validSymbols:'#At_Type',
                            greaterThan:'#At_Min'
                        },
                        At_Razm: {
                            required: true
                        },
                        At_Kl: {
                            required: true
                        }
                    },
                    submitHandler: function (form) {
                        if ($('#myform').valid()) {
                            dhtmlx.message({
                                title: "Ок",
                                type: "alert-warning",
                                text: "Объект успешно добавлен!",
                                callback: function() {
                                    form.submit();
                                }
                            });

                        }
                    }
                });

            } );
    body
        h1= "Добавление объекта"
        form(method="GET", action='addObject/add', id="myform")
            table(border=1, cellpadding=10)
                tbody
                    tr
                        th Системный номер
                        th Домен
                        th Обозначение
                        th Наименование концепта
                        th Тип поля
                        th Длина поля
                        th Кол-во знаков после запятой
                        th Мин. значение
                        th Макс. значение
                        th Размерность
                        th Номер классификатора
                    tr
                        td(width=10)
                            input(type='text',value='',placeholder='at_syst',name='at_syst', size=6)
                        td
                            input(type='text',value='',placeholder='dom',name='dom', size=6)
                        td
                            input(type='text',value='',placeholder='Den',name='Den', size=6)
                        td
                            input(type='text',value='',placeholder='наименование',name='Naim', size=20)
                        td
                            select(name='At_Type', id='At_Type')
                                option(value='int') Целое
                                option(value="float") Вещественное
                                option(value="string") Строковый
                        td
                            input(type='text',value='',placeholder='At_Len',name='At_Len',id = 'At_Len', size=6)
                        td
                            input(type='text',value='',placeholder='At_Dec',name='At_Dec', id= 'At_Dec', size=6)
                        td
                            input(type='text',value='',placeholder='At_Min',name='At_Min', id='At_Min', size=6)
                        td
                            input(type='text',value='',placeholder='At_Max',name='At_Max', size=6)
                        td
                            select(name='At_Razm', id='At_Razm')
                                option(value='мм') мм
                                option(value='см') см
                                option(value='м') м
                                option(value='°') °
                                option(value='рад') рад
                                option(value='\"') "
                                option(value='рад') рад
                                option(value='мм²') мм²
                                option(value='см²') см²
                                option(value='м²') м²
                                option(value='об/мин') об/мин
                        td

                            input(type='text',value='',placeholder='At_Kl',name='At_Kl', size=6)
            p
            input(type='submit',value='Добавить')
        if reqParam
            script.
                dhtmlx.alert("Объект успешно добавлен!");