//
   Created by e.eremeev on 17/06/2014.

extends searchLayout
block scriptBlock
    script(type="text/javascript", language="javascript", class="init").
        $(document).ready(function() {
            $('#my_table').DataTable();
        } );