extends layout
block searchEditMenu
    table
        tbody
            tr
                td
                    a(href="#myform", class="popup-with-form")
                        img(src="/img/Add.png", title="Добавить")
                    a(href="#editForm", class="popup-with-form")
                        img(src="/img/Edit.png", id="edit", title="Редактировать")
                    img(src="/img/Delete.png", id="delete", title="Удалить")
block title
    h2 Система сопровождения "ТИС-Словарь"